# Ignore compiled code
*.o

# Ignore output picture
*.png

# Ignore slurm outputs
*.out

# Ignore Fortran modules
*.mod

# Ignore netCDF output
*.nc

# Ignore netCDF output
*.dat

# Ignore xyz output
*.xyz

# Ignore pdfs
*.pdf

# Ignore executables
*.exe

# Ignore executable files
*.run

# Ignore text files
*.txt

# But not the license file
!LICENSE.txt

# Also ignore the examples directories
!examples/00_examples_tests/*
!examples/01_CrCoNi/*
